@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: wigwag-bold, fot-tsukubrdgothic-std, sans-serif;
  color: #333;
}

body.noscroll {
  overflow: hidden;
}

/* 共通スタイル */
img, svg {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #333;
}

a:hover {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gray-bg {
  background-color: #f2f2f2;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.section-wrapper {
  padding: 60px 0;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1100px;
}

@media screen and (max-width: 520px) {
  .content-wrapper {
    padding: 0 15px;
  }
}

.section-title {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .section-title {
    line-height: 1;
  }
}

@media screen and (max-width: 1024px) and (max-width: 520px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.section-text {
  font-size: 2rem;
  font-family: fot-tsukubrdgothic-std;
  margin: 0 auto;
  max-width: 32%;
  line-height: 1.6;
}

@media screen and (max-width: 1024px) {
  .section-text {
    max-width: 70%;
  }
}

@media screen and (max-width: 1024px) and (max-width: 520px) {
  .section-text {
    font-size: 1.4rem;
  }
}

.line {
  line-height: 2;
}

.footer {
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
  font-size: 1rem;
}

section {
  padding-top: 90px;
}

@media screen and (max-width: 520px) {
  section {
    padding-top: 0;
    margin-top: 70px;
  }
}

header {
  background: #000;
  height: 90px;
  font-size: 3rem;
  line-height: 1.6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 1.8vw;
  max-width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  header {
    padding-left: 0;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) and (max-width: 520px) {
  header {
    font-size: 1.6rem;
    top: auto;
    bottom: 0;
  }
}

header .flex-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .flex-box li {
  color: #fff;
  margin-left: 36px;
}

@media screen and (max-width: 1024px) {
  header .flex-box li {
    font-size: 2rem;
    width: 20%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) and (max-width: 520px) {
  header .flex-box li {
    margin-left: 0;
    text-align: center;
    font-size: 1rem;
  }
  header .flex-box li a {
    margin: 0 auto;
  }
}

header li img {
  display: none;
}

@media screen and (max-width: 520px) {
  header li img {
    display: block;
    width: 9vw;
  }
}

.sp-br {
  display: none;
}

@media screen and (max-width: 520px) {
  .sp-br {
    display: inline;
  }
}

.scroll-top {
  display: none;
  z-index: 1;
  position: fixed;
  right: 6.5vw;
  bottom: 66px;
}

@media screen and (max-width: 520px) {
  .scroll-top {
    bottom: 90px;
  }
}

.fv {
  margin-top: 90px;
  height: 104.6vh;
  background-image: url(../images/header-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .fv {
    height: 50.8vh;
  }
}

@media screen and (max-width: 1024px) and (max-width: 520px) {
  .fv {
    margin-top: 0;
  }
}

.fv .logo-img {
  width: 42.2%;
  position: absolute;
  top: 21%;
  right: 93px;
}

@media screen and (max-width: 1024px) {
  .fv .logo-img {
    padding-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
  }
  .fv .logo-img img {
    width: 55%;
  }
}

.fv h1 {
  position: absolute;
  left: 80px;
  bottom: 14.6%;
}

.fv h1 p {
  font-family: fot-tsukubrdgothic-std;
  font-size: 4.8rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 5px 2.79px rgba(0, 0, 0, 0.95);
}

@media screen and (max-width: 1024px) {
  .fv h1 {
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
  .fv h1 p {
    font-size: 3rem;
  }
}

.content-text {
  margin-bottom: 44px;
  text-align: center;
}

.content-text h2 {
  margin-bottom: 13px;
  line-height: 1em;
}

.pride-item, .menu-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.pride-item img, .menu-item img {
  height: 55vh;
  width: 33.33vw;
}

@media screen and (max-width: 1024px) {
  .pride-item img, .menu-item img {
    height: 33.3vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.pride-item h2, .pride-item p, .menu-item h2, .menu-item p {
  margin: 0 auto;
  font-family: fot-tsukubrdgothic-std;
}

.pride-item h2, .menu-item h2 {
  margin: 42px auto 16px;
  font-size: 3rem;
  line-height: 1;
}

@media screen and (max-width: 520px) {
  .pride-item h2, .menu-item h2 {
    font-size: 1.6rem;
    margin-top: 0;
  }
}

.pride-item p, .menu-item p {
  font-size: 1.8rem;
  line-height: 1.6;
}

@media screen and (max-width: 520px) {
  .pride-item p, .menu-item p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .pride-item, .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pride-item .pride-text, .pride-item .menu-text, .menu-item .pride-text, .menu-item .menu-text {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .pride-list, .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95vw;
    margin: 0 auto;
  }
  .pride-item:nth-of-type(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.price {
  font-family: wigwag-bold !important;
  font-size: 30px !important;
  margin-top: 5px !important;
}

.menu-list:first-of-type {
  margin-bottom: 38px;
}

.main-content > * {
  width: 50vw;
  height: 390px;
}

@media screen and (max-width: 520px) {
  .main-content > * {
    height: 35vh;
  }
}

.main-content .l-content {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d9d9d9;
  font-family: fot-tsukubrdgothic-std;
  padding: 50px 0 50px 80px;
}

.main-content .l-content > img {
  width: 28.3%;
  margin-bottom: 25px;
}

.main-content .l-content h3 {
  font-size: 30px;
  line-height: 1.6;
}

@media screen and (max-width: 520px) {
  .main-content .l-content h3 {
    font-size: 1.6rem;
  }
}

.main-content .l-content .flex-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 6px;
}

.main-content .l-content dl {
  width: 100%;
  font-size: 2rem;
}

.main-content .l-content dl:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 520px) {
  .main-content .l-content dl {
    font-size: 1.2rem;
  }
}

.main-content .l-content dt {
  width: 13.6%;
  font-weight: bold;
  line-height: 1.6;
  -moz-text-align-last: justify;
       text-align-last: justify;
}

.main-content .l-content dd {
  margin-left: 30px;
  width: 70%;
  line-height: 1.6;
}

.main-content .l-content dt, .main-content .l-content dd {
  margin-bottom: 2px;
}

.main-content .r-content {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.main-content .r-content iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content > * {
    width: 90vw;
  }
  .main-content .l-content {
    padding: 20px 0 20px 40px;
  }
  .main-content .l-content dt {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) and (max-width: 520px) {
  .main-content .l-content {
    padding: 20px 10px 10px;
  }
}

.news-list {
  margin: 25px auto 0;
  width: calc(100vw - 172px);
}

.news-list .flex-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .news-list {
    width: 95vw !important;
  }
}

.news-item {
  font-family: fot-tsukubrdgothic-std;
  padding-bottom: 7px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}

.news-item > * {
  line-height: 1.6;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .news-item > * {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) and (max-width: 520px) {
  .news-item > * {
    font-size: 1.2rem;
  }
}

.news-item time {
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .news-item time {
    width: 30%;
  }
}

.news-item p {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .news-item p {
    width: 70%;
  }
}

footer {
  margin-bottom: 50px;
  margin-top: 75px;
}

@media screen and (max-width: 520px) {
  footer {
    margin-bottom: 90px;
  }
}

footer .contact-item {
  font-family: fot-tsukubrdgothic-stdserif;
}

@media screen and (max-width: 520px) {
  footer .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .logo {
  width: auto !important;
  margin: 0 auto;
}

footer .logo img {
  width: auto;
}

footer .flex-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: 75px auto 180px;
}

@media screen and (max-width: 1024px) {
  footer .flex-box {
    width: 70%;
  }
}

footer small {
  font-family: fot-tsukubrdgothic-std;
  font-size: 20px;
}
